.list-card {
  width: 260px;
  padding: 0 15px;

  padding-top: 20px;
  border: 1px solid rgba(153, 153, 153, 0.603);
  border-radius: 15px;
  position: sticky;
  top: 80px;
}

.text-center {
  text-align: center;
}

.btn-group {
  display: flex;
  flex-direction: column;
  margin: 36px auto 15px;
}

.btn-choose-for-me {
  color: green;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-choose-for-me:hover {
  color: white;
  background-color: green;
}

.btn-choose-again {
  color: rgb(128, 0, 117);
  border: 0;
  margin-top: 12px;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-choose-again:hover {
  color: white;
  background-color: rgb(128, 0, 117);
}

.modal-warning {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bolder;
}

.modal-close-button {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.choosed-item{
  display: flex;
}
.choosed-item img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-right: 16px;
}

.choosed-item-detail{

}
